
<nav>
    <ul>
        <li style="float:left"> <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
   
      
     <li> <img class="logo"src="finalchoice2.png"></li>
      
        
   
     
       <li style="float:right">  <a href="https://chigliapp.herokuapp.com/cool"> Seconda pagina</a></li>
    
   
</ul>
</nav>
