
<nav>
    <ul >
        <li id="li1"> <a href="/" id="a1"> Home</a></li>
   
      <center>
     <li> <img class="logo"src="finalchoice2.png"></li>
      </center>
        
       <li id="li2">  <a id="a2" href="https://chigliapp.herokuapp.com/cool"> Seconda </a></li>
       <li id="li2">  <a id="a2" href="https://chigliapp.herokuapp.com/cool"> Seconda </a></li>
    
</ul>
</nav>
