<!DOCTYPE html>
<html>
<head>
  <title>Home page</title>
    <meta charset="UTF-8">


<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: #4CAF50;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  outline:none;
  background-color: #4CAF50; 
  color: black; 
  border: 2px solid #008CBA;
  margin-top:20px;
  width:500px;
  height:400px;
  border-radius:5px;
  
}


body{
background-color:#75a3a3;
margin:0;
color:white;
}



    
   
   
   .logo{
        
         
        margin-left: auto;
        margin-right: auto;
        height:40px;
        margin-top:7px;
        display:block;
        padding-bottom:4px;
    }
    ul {
  list-style-type: none;
  margin: 0;
 padding:0px;
  display:flex;  
  list-style:outside none none;
  background-color: #333;
  font-size:25px;   
       width: auto;
        text-align:center;
     flex-wrap:nowrap;  
        justify-content:space-between;
}



 #li1:hover{
  background-color: #111;
   
    margin-top:0px;
}
    #li2:hover{
  background-color: #111;
   
    margin-top:0px;
}

}
    #li1{
      padding-right:10px;  
    }
    #li2{
   
    }
    
    
    #a1{
        color:white;
        outline:none;
        text-decoration:none;
        float:left;
        padding-left:10px;
        padding-top:8px;
        padding-right:10px; 
    }
    #a2{
        color:white;
        outline:none;
        text-decoration:none;
        float:right;
        padding-top:8px;
        padding-right:10px;
        padding-left:10px;
    }
</style>

</head>
<body>
     <% include ../partials/nav.ejs %>
   
<h1>Benvenuto sul sito ufficiale di RedHouse!</h1>





</body>
</html>
