<!doctype html>
<html><head>
  <title>Home page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">

    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
        html{
            margin:0;
            
            
            
        }
body{
background-color:#75a3a3;
margin:0;
color:white;
font-family: 'Montserrat', sans-serif;
   width:100%;
    outline:none;
}
        
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: #4CAF50;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  outline:none;
  background-color: #4CAF50; 
  color: black; 
  border: 2px solid #008CBA;
  margin-top:20px;
  width:500px;
  height:400px;
  border-radius:5px;
  
}
        h1{
            margin:0;
            
            
        }

        

   .logo{
        
         
        margin-left: auto;
        margin-right: auto;
        height:40px;
        margin-top:7px;
        display:block;
        padding-bottom:4px;
    }
   #nav {
  list-style-type: none;
  margin: 0;
 padding:0px;
  display:flex;  
  list-style:outside none none;
  background-color: #333;
  font-size:25px;   
    
        height:50px;
        text-align:center;
     flex-wrap:nowrap;  
        justify-content:space-between;
		
}



 #li1:hover{
  background-color: #111;
   
}
   

}
    #li1{
      padding-right:10px; 
        width:80px;
        margin-top:10px;        

    }
    #li2{
        padding-top:8px;
       height:50px;
       margin-right:2vw;
       width:80px;
        
		 float:right;
		 z-index:4;
	    transition:margin-right 0.5s;
    }
    #puls{
       float:right; 
        cursor:pointer;
        
    }
    
    
    #a1{
        color:white;
        outline:none;
        text-decoration:none;
        float:left;
        padding-left:10px;
        padding-top:12px;
        padding-right:10px; 
    }
  
	.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color:white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius:3px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.side-nav{
  bottom:0;
  width:0;
  z-index:2;
  top:0;
  right:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
    position:absolute;
     line-height:30px;
}

.side-nav a{
  padding:20px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block;
  transition:0.3s;
  line-height:30px;
}
    
    #totale{
       transition:0.5s; 
     }


.row {  
  display: flex;
  flex-wrap: wrap;
}
.side {
  flex: 30%;
border-left:2px solid #111;
  padding: 20px;
    float:right;
}

.main {
  flex: 70%;
 
  padding: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.footer {
margin-bottom:0;
  text-align: center;
  background-color: #333;
     bottom:0;
    padding:10px;
    
}
        #arduino{
            display:inline;
            width:15vw;
            margin:20px;
            margin-right:50px;
  
            transition: transform .2s;
    
         
        }
        #raspberry{
             width:15vw;
             display:inline;
            margin:20px;
            transition: transform .2s;
            
        }
        #arduino:hover{
           transform: scale(1.2); 
       }
        #raspberry:hover{
           transform: scale(1.2); 
       }
        #mars{
       width: 100%;
  max-width: 500px;;
  height: auto;
            object-fit:cover;
}
        }

@media screen and (max-width: 100px) {
  .row{   
    flex-direction: column;
  }
    .side{
        border-left:0px;
    }
    .main {
        width:100%;
        
        
    }
}
    * {
  box-sizing: border-box;
}
    #titolo{
        padding-left:20px;
        padding-top:10px;
      }
        p{
            margin:0;
            
            
        }
        form { background: #000; padding: 3px; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0;bottom:0; }
      #messages li { padding: 5px 10px; }
</style><script>
var i=0;
    var x=$('side-menu').width();
	function slide(){
	
	 if(i==0){
      document.getElementById('side-menu').style.width = '40vw';
    
      if ($(window).width() > 568) {
        document.getElementById("li2").style.marginRight = '35vw';
      }
      i=1;
	}
        
	else if(i==1){
	document.getElementById('side-menu').style.width = "0px";
    document.getElementById("li2").style.marginRight = "2vw";  
     
	  i=0;
    }
	}
  function chiudi(){
     document.getElementById('side-menu').style.width = '0';
    document.getElementById("li2").style.marginRight = "2vw";  
      
	  i=0; 
      document.getElementById("li2").classList.toggle("change",false);    
  }
    
	function cambia() {
  document.getElementById("li2").classList.toggle("change");
}
    </script>
    <script src="/socket.io/socket.io.js"></script>
    
    
   <script>
   var socket = io();
       $(function () {
    $('form').submit(function(e){
      e.preventDefault(); // prevents page reloading
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(msg){
      $('#messages').append($('<li>').text(msg));
    });
  });
      socket.on('time', function(timeString) {
         document.getElementById('server-time').innerHTML =timeString;
      });
         
</script>
    
    </head>


<body onscroll="chiudi()">
     
<nav>
    <ul id="nav">
        <li id="li1"> <a href="/" id="a1"> Home</a></li>
   
      <center>
     <li> <img class="logo" src="finalchoice2.png"></li>
      </center>
        
       <li id="li2">  
	   <div id="puls" onclick="cambia();slide()">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div></li>
    
   
</ul>
<div id="side-menu" class="side-nav">
    
    <a href="/chisiamo">Chi siamo?</a>
    <a href="/progetti">Progetti</a>
    <a href="/seconda">Seconda pagina</a>
    <a href="/valori">Valori in tempo reale</a>
  </div>
</nav>

<div id="totale" onclick="chiudi()">   
<h1 id="titolo">Benvenuto sul sito ufficiale di RedHouse!</h1>




<div class="row">
  
  <div class="main">
   
    <h2>Qual è il nostro obiettivo?</h2>
      
   <img id="mars" src=mars.jpg>
    <p>Marte</p>
      <p>In questi anni si parla molto di marte,<strong> ma come sapravvivrebbero gli astronauti senza sostanze nutritive?</strong>noi stiamo ideando una serra adalta tecnologia ,<strong>totalmente automatizzata</strong>che sarebbe in grado di coltivare le piante in modo autonomo.</p>
       <h2>Che strumenti utilizziamo?</h2>
   <center><img id="arduino" src=arduino.png>
      <img id="raspberry" src=raspberrypi.png></center> 
    <p>Arduino e RaspberryPi</p>
    <p>Non essendo la NASA e non avendo gli stessi fondi stiamo progettando la serra con costi irrilevanti ma comunque perfettamente funzionale al terreno marziano.</p>
    <h2>TITLE HEADING</h2>
    <h5>Title description, Sep 2, 2017</h5>
      
   <img id="mars" src=mars.jpg>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <br>
  </div>
    <div class="side">
    <h2>About Me</h2>
    <h5>Photo of me:</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    <h3>More Text</h3>
    <p>Lorem ipsum dolor sit ame.</p>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div>
  </div>
</div>

</div>
<div class="footer">
  <h2>Per qualsiasi tipo di problema contattare: redhouseverified@gmail.com</h2>
    <p id='server-time'></p>
</div>

  

</body></html>