<!doctype html>
<html><head>
  <title>Home page</title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
    <link rel = "icon" type = "image/png" href = "/icona.png">
    </head>
<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: #4CAF50;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  outline:none;
  background-color: #4CAF50; 
  color: black; 
  border: 2px solid #008CBA;
  margin-top:20px;
  width:500px;
  height:400px;
  border-radius:5px;
  
}


body{
background-color:#75a3a3;
margin:0;
color:white;
}



    
   
   
   .logo{
        
         
        margin-left: auto;
        margin-right: auto;
        height:40px;
        margin-top:7px;
        display:block;
        padding-bottom:4px;
    }
    ul {
  list-style-type: none;
  margin: 0;
 padding:0px;
  display:flex;  
  list-style:outside none none;
  background-color: #333;
  font-size:25px;   
       width: auto;
        text-align:center;
     flex-wrap:nowrap;  
        justify-content:space-between;
}



 #li1:hover{
  background-color: #111;
   
    margin-top:0px;
}
    #li2:hover{
  background-color: #111;
   padding-right:10px;
   padding-left:10px;
    margin-top:0px;
       
}

}
    #li1{
      padding-right:10px;  
    }
    #li2{
        padding-top:8px;
        padding-right:10px;
       padding-left:10px;
       width:35px;
        height:43px;
		 float:right;
		 z-index:4;
	    transition:margin-right 0.5s;
    }
    
    
    #a1{
        color:white;
        outline:none;
        text-decoration:none;
        float:left;
        padding-left:10px;
        padding-top:8px;
        padding-right:10px; 
    }
    #a2{
        color:white;
        outline:none;
        text-decoration:none;
        float:right;
        padding-top:8px;
        padding-right:10px;
        padding-left:10px;
    }
	.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color:white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius:3px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.side-nav{
  bottom:0;
  width:0;
  position:fixed;
  z-index:2;
  top:0;
  right:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}
.side-nav {
  position:absolute;
  top:0;
  right:0;
  font-size:36px;
  margin-left:50px;
}
.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block;
  transition:0.3s;
}
    
    #totale{
        padding-left:20px;
        
        
        
    }
</style>
<script>
var i=0;
	function slide(){
	
	 if(i==0){
      document.getElementById('side-menu').style.width = '40%';
      document.getElementById("totale").style.marginRight = '40vw';
      if ($(window).width() > 568) {
        document.getElementById("li2").style.marginRight = '35vw';
      }
      i=1;
	}
        
	else if(i==1){
	document.getElementById('side-menu').style.width = '0';
    document.getElementById("li2").style.marginRight = "0";    
	  i=0;
    }
	}

	function myFunction(x) {
  x.classList.toggle("change");
}
</script>
<body>
     
<nav>
    <ul>
        <li id="li1"> <a href="/" id="a1"> Home</a></li>
   
      <center>
     <li> <img class="logo" src="finalchoice2.png"></li>
      </center>
        
       <li id="li2">  
	   <div  id="puls"onclick="myFunction(this);slide()">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div></li>
    
   
</ul>
<div id="side-menu" class="side-nav">
    
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="https://redhouseapp.herokuapp.com/cool">seconda</a>
    <a href="#">Contact</a>
  </div>
</nav>

<div id="totale">   
<h1>Benvenuto sul sito ufficiale di RedHouse!</h1>
<p>cosa facciamo?</p>
</div>





</body></html>